<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>文字识别的例子</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>

</head>
<body data-type="login">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 风格切换 -->

        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-logo" style="height: 185px">

                </div>



                <form class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" id="fileSel" placeholder="请选择文件，识别一下">
                        <div style="display: none">
                            <form class="form-horizontal" role="form">
                                <input id="fileupload" type="file" name="fileupload"
                                       multiple="multiple"/>
                            </form>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <!--<button type="button" class="am-btn am-btn-primary-->
                        <!--am-btn-block tpl-btn-bg-color-success  tpl-login-btn">开始转换</button>-->
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row am-cf">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
            <div class="tpl-user-card am-text-center widget-body-lg">
                <div class="tpl-user-card-title">
                    转换的图片
                </div>

                <img class="achievement-image" src="assets/img/user07.png" alt="" style="width: 100px;height: 100px">
                <div class="achievement-description">
                    <img class="achievement-image" src="assets/img/user07.png" alt="">
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-margin-bottom-lg">

            <div class="widget am-cf widget-body-lg">

                <div class="widget-body  am-fr">
                    <div class="am-scrollable-horizontal ">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r">
                            <thead>
                            <tr>
                                <th>文章标题</th>
                                <th>作者</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX">
                                <td>新加坡大数据初创公司 Latize 获 150 万美元风险融资</td>
                                <td>张鹏飞</td>
                                <td>2016-09-26</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="even gradeC">
                                <td>自拍的“政治角色”：观众背对希拉里自拍合影表示“支持”</td>
                                <td>天纵之人</td>
                                <td>2016-09-26</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>关于创新管理，我想和你当面聊聊。</td>
                                <td>王宽师</td>
                                <td>2016-09-26</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="even gradeC">
                                <td>究竟是趋势带动投资，还是投资引领趋势？</td>
                                <td>着迷</td>
                                <td>2016-09-26</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Docker领域再添一员，网易云发布“蜂巢”，加入云计算之争</td>
                                <td>醉里挑灯看键</td>
                                <td>2016-09-26</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>


                            <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script th:src="@{/assets/jq/jquery.ui.widget.js}"></script>
    <script th:src="@{/assets/jq/jquery.fileupload.js}"></script>
    <script src="assets/js/commonApi.js"></script>

<script type="application/javascript">
    function upLoadLogo() {
        $("#fileupload").fileupload({
            url: 'trans',
            type: 'post',
            dataType: 'json',
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            done: function (e, doneData) {
                //成功
                console.log(doneData);
                if (doneData.result.code == 200) {
                    alert("上传成功");
                } else {
                    // Messenger().post({type: "error", message: doneData.result.msg, showCloseButton: true});
                }
                console.log(doneData.result.msg);
            },
            progressall: function (e, data) {
                Messenger().post({
                    message: "正在上传请稍后。",
                    showCloseButton: true
                });
            },
            fail: function (e, data) {
                Messenger().post({
                    type: "error",
                    message: "文件过大，请重新选择！",
                    showCloseButton: true
                });
                alert("文件过大，无法传输");
            }
        });
        //文件上传前触发事件
        $('#fileupload').bind('fileuploadsubmit', function (e, data) {
            // data.formData = {lssueId: topicId, lssusefileName: $("#materialName").val()};  //如果需要额外添加参数可以在这里添加
        });
        $('#fileupload').click();
        console.log("123");
        $(".tpl-login-content").css("margin","1% auto 0");
    }

    $("#fileSel").click(upLoadLogo);
</script>
</body>

</html>